<h1> Héroes <small>Marvel y DC</small> </h1>

<hr>
<div class="card-columns">

      <div class="card">
        <!--<img src="..." class="card-img-top" alt="...">-->
      <!--<img src="assests/img/aquaman.png" class="card-img-top">-->

        <div style="border-style: groove; border-width: 3px; width:45%; height:200px; margin-left:30%; margin-top:40px !important;"></div>

        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>

      <div class="card">
        <!--<img src="..." class="card-img-top" alt="...">-->
      <!--<img src="assests/img/aquaman.png" class="card-img-top">-->

        <div style="border-style: groove; border-width: 3px; width:45%; height:200px; margin-left:30%; margin-top:40px !important;"></div>

        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>

        <div class="card">
        <!--<img src="..." class="card-img-top" alt="...">-->
      <!--<img src="assests/img/aquaman.png" class="card-img-top">-->

        <div style="border-style: groove; border-width: 3px; width:45%; height:200px; margin-left:30%; margin-top:40px !important;"></div>

        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>

        <div class="card">
        <!--<img src="..." class="card-img-top" alt="...">-->
      <!--<img src="assests/img/aquaman.png" class="card-img-top">-->

        <div style="border-style: groove; border-width: 3px; width:45%; height:200px; margin-left:30%; margin-top:40px !important;"></div>

        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>

        <div class="card">
        <!--<img src="..." class="card-img-top" alt="...">-->
      <!--<img src="assests/img/aquaman.png" class="card-img-top">-->

        <div style="border-style: groove; border-width: 3px; width:45%; height:200px; margin-left:30%; margin-top:40px !important;"></div>

        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>

        <div class="card">
        <!--<img src="..." class="card-img-top" alt="...">-->
      <!--<img src="assests/img/aquaman.png" class="card-img-top">-->

        <div style="border-style: groove; border-width: 3px; width:45%; height:200px; margin-left:30%; margin-top:40px !important;"></div>

        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

          <button type="button" class="btn btn-outline-primary btn-block">
            Ver más...
          </button>
        </div>
      </div>

</div>